.avatar__container {
    display: flex;
    align-items: center;
    margin: 20px;
}

.avatar__img {
    width: 100px;
    border-radius: 50%;
    margin-right: 10px;
}

.avatar__status-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.avatar__status {
    width: 10px;
    height: 10px;
    border-radius: 50%;
}

.avatar__name {
    margin-left: 8px;
}