* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}

body {
    min-width: 100vh;
    position: absolute;
    background-image: url('https://marketplace.canva.com/EAD2962NKnQ/2/0/1600w/canva-rainbow-gradient-pink-and-purple-zoom-virtual-background-_Tcjok-d9b4.jpg');
    background-size: cover;
}
body:before {
    filter: blur(4px);
    opacity: 0.4;
}

/* header */
.chuches__header {
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(36, 36, 36);
    height: 5rem;
    width: 100%;
    position: relative;
    top: 0;
    -webkit-box-shadow: 10px 10px 26px -16px rgba(97,97,97,1);
    -moz-box-shadow: 10px 10px 26px -16px rgba(97,97,97,1);
    box-shadow: 10px 10px 26px -16px rgba(97,97,97,1);
}

.chuches {
    margin: 3rem;
}

.chuche__type {
    color: rgb(78, 78, 78);
    font-size: 1rem;
    font-weight: 500;
    max-width: 20rem;
    max-height: 25rem;
    background-color: rgb(243, 235, 235);
    padding: 1rem;
    list-style: none;
    border-radius: 10px;
    border: 1px solid rgb(199, 197, 197);
    -webkit-box-shadow: 10px 10px 27px -10px rgba(97,97,97,0.63);
    -moz-box-shadow: 10px 10px 27px -10px rgba(97,97,97,0.63);
    box-shadow: 10px 10px 27px -10px rgba(97,97,97,0.63);
}

/* chuches list */

.chuches__list {
    display: flex;
    gap: 1.5rem;
    flex-wrap: wrap;
}

/* chuche info */

.chuche__info {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chuche__description {
    margin: 0 .4rem;
    text-align: center;
}

/* button */
.chuche__btn-container {
    display: flex;
    justify-content: center;

}

.chuche__vote-btn {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    border: none;
    background-color: rgb(196, 162, 209);
}

.chuche__vote-btn:hover {
    cursor: pointer;
}

/* add-section */

.chuches__add-section {
    color: rgb(78, 78, 78);
    display: flex;
    margin: 3rem;
    padding: 1rem;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgb(196, 162, 209);
    width: fit-content;
    border-radius: 10px;
}

.chuches__inputs {
    display: flex;
    flex-direction: row;
    gap: 1rem;;
}

#submit {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 1rem;
    margin-top: 1rem;
    border: none;
    padding: .5rem;
    border-radius: 10px;
    border: 1px solid rgb(196, 162, 209);
}

#submit:hover {
    cursor: pointer;
}

/* filter */

.chuches__filter {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 3rem;
    background-color: rgb(255, 255, 255);
    width: fit-content;
    height: 2rem;
    padding: 1.3rem;
    border-radius: 10px;
    border: 2px solid rgb(196, 162, 209);
}

select {
    cursor: pointer;
}

h2 {
    margin-bottom: 1rem;
}